* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato;
  background-color: #f3f4f7;
  color: #000000;
}

.loading {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  transform: scale(5);
}

@font-face {
  font-family: lato-light;
  src: url(./assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: lato-bold;
  src: url(./assets/fonts/Lato-Bold.ttf);
}
